@page "/settings"
@inject NavigationManager Nav

<PageTitle>Daisi Git - Settings</PageTitle>

<h4 class="mb-4">Settings</h4>

<div class="dg-settings-grid">
    <a class="dg-settings-card" href="organizations">
        <i class="fa-duotone fa-building"></i>
        <h6>Organizations</h6>
        <p>Create and manage organizations, members, and teams.</p>
    </a>
</div>
